<div>
<section class="search-sec">
    <div class="container">
        <form [formGroup]="searchForm" (ngSubmit)="Search()">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label>Parameter</label>
                            <input type="text" class="form-control search-slt" formControlName="parameter" placeholder="Name, City, Country">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label>Check In</label>
                            <input type="date" class="form-control search-slt"formControlName="checkIn" placeholder="Check In">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label>Check Out</label>
                            <input type="date" class="form-control search-slt" formControlName="checkOut" placeholder="Check Out">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label>People</label>
                            <input type="number" class="form-control search-slt" formControlName="people" placeholder="Count">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="submit" class="btn btn-danger wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
</div>
<button [routerLink]="['/hotels']" class="btn btn-primary btn-lg col-large"  >See all hotels</button>

<div *ngIf="offers">
    <app-offers-list [offers]="offers"></app-offers-list>
</div>



